@{
    ViewData["Title"] = "Home Page";
}

<style>
        .mangabook-section {
            background-image: url('https://flc-event.vn/wp-content/uploads/2020/02/backgound-about-1.jpg');
            background-size: cover;
            background-position: center;
            padding: 20px;
            border: 1px solid #ccc;
            margin-bottom: 20px;
            color: white;
        }
</style>

<div class="text-center mangabook-section">
    <h3>MANGABOOK</h3>
    <hr />
    <h3>MANGA-HOT</h3>
    <p>Content</p>
    <hr />
    <h3>NEW RELEASES</h3>
    <p>Content</p>
</div>