<style>
    /* #box-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #f8f9fa;
        padding: 20px;
    } */
        /* text-align: center; */
</style>

<div id="box-footer" class="text-center">
    @* <div class="box-footer-top">
    <div class="container">
    <div class="row">
    <div class="row">


    </div>
    </div>
    </div>
    </div> *@
    <div class="box-footer-middle">
        <div class="container">
            <div class="row">
                <div class="row justify-content-center">
                    <div class="block block-info col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="block-title"><span>Information</span></div>
                        <div class="block-content">
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li>
                                    <a href="https://fb.com/" target="_blank">
                                        <i class="fab fa-facebook"></i>Facebook
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="block block-galary col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="block-title"><span>Shopping Guide</span></div>

                        <div class="block-content">
                            <ul>
                                <li><a href="#">How to buy</a></li>
                                <li><a href="#">FAQs</a></li>
                                @* <li><a href="#">Payment</a></li> *@
                            </ul>
                        </div>
                    </div>
                    <div class="block block-cu col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="block-title"><span>Contact us</span></div>
                        <div class="block-content">
                            <ul>
                                <li class="item1"><span>Viet Nam - HCM</span></li>
                                <li class="item2"><span>+ 020.566.6666</span></li>
                                <li class="item3"><a href="mailto:support@book.com">support@book.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer-bottom">
        <div class="container">
            <a href="#" id="gototop">Top</a>
        </div>
    </div>
    <!--js-->
</div>

